<!-- The content below is only a placeholder and can be replaced.

<div class="container mt-5">
    <button class="btn btn-success">Add Note</button>

<div class="row align-items-start">
  <div class="" *ngFor="let note of notes" class="p-3 sticky d-block">
    <button btn btn-outline-info>Choose Color</button>
    <div>{{note.noteId}}</div>
    <div>{{note.title}}</div>
    <div>{{note.note}}</div>
    <div>{{note.stickydate}}</div>
    <div>{{note.status}}</div>
    <button class="btn btn-outline-danger">Delete</button>

  </div>
</div>
</div>

<div 
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="1000"
(scrolled)="onScroll()">

</div> -->

<input type="text" [(ngModel)]="newContent">
<button (click)="addNote()">Add</button>
<cdk-virtual-scroll-viewport itemSize="100" (scrollIndexChange)="getNextBatch($event)">

  <li (click)=displayId(i) *cdkVirtualFor="let note of notes | async; let i = index" class="animated slideInRight sticky">
    {{note | json}}
    <!-- {{note.noteId}}
    {{note.title}}
    {{note.note}}
    {{note.stickydate}}
    {{note.status}} -->
  </li>

</cdk-virtual-scroll-viewport>


<router-outlet></router-outlet>